<div class="mypage-container">
  <h2>My Page</h2>

  <h3>Hello {{username}}, here are your restaurants:</h3>
</div>

<div class="main-container">
  <div class="home-container">
    {{#each restaurants}}
      <a href="/restaurants/{{_id}}">
        <div class="restaurant-item">
          <div class="image-container">
            <img src="{{imageUrl}}" alt="Picture of an awesome restaurant" />
          </div>
          <div class="title-container">
            <h2>{{name}}</h2>
          </div>
        </div>
      </a>
    {{/each}}
  </div>
</div>

<div class="add-new-review-container">
  <h2>Add new review</h2>

  <p class="error">{{error}}</p>

  <form
    action="/restaurants/mypage/add"
    method="post"
    enctype="multipart/form-data"
  >
    <label for="image">Upload image of restaurant</label>
    <input type="file" name="image" id="image" /><br />
    <input
      type="text"
      name="name"
      placeholder="Name of Restaurant"
      class="field"
    />
    <input
      type="text"
      name="description"
      placeholder="Description"
      class="field"
    />

    <select name="rating">
      <option value="Rating" disabled selected>Rate restaurant</option>
      <option value="1">&#9733;</option>
      <option value="2">&#9733; &#9733;</option>
      <option value="3">&#9733; &#9733; &#9733;</option>
      <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
      <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
    </select>
    <input type="submit" value="Add" class="btn-sm" />
  </form>
</div>