<h2>{{name}}</h2>

<div class="review-container">
  <img src="{{image}}" alt="Picture of an awesome restaurant" />
  <p><b>Description: </b>{{description}}</p>
  <p><b>Total rating: </b>{{totalRating}}</p>
  <p><b>Average rating: </b>{{averageRating}}</p>
  <p><b>Reviews: </b>{{reviews}}</p>
  <p><b>Comments: </b>{{comments}}</p>
</div>