<div class="main">
	<div class="restaurant-container">
		<div class="title-wrap">
			<h2>{{name}}</h2>
			<div class="avarageRating-container">
				<p>{{{showStars averageRating}}}</p>
			</div>
		</div>
		<div class="image-wrap">
			<img src="{{imageUrl}}" alt="Picture of an awesome restaurant" />
		</div>
		<div class="description-wrap">
			<p>{{description}}</p>
		</div>
		<div class="creator-wrap">
			<p><b>Made by: </b>{{creator}}</p>
		</div>
	</div>
	<div class="comments-container">
		<div class="comment-wrap">
			<div class="comments-item">
				<h2><b>Comments</b></h2>
				{{#if comments}}{{/if}}
				{{#each comments}}
					<p><b>{{username}}: </b>{{comment}}</p>
				{{/each}}
			</div>
		</div>
		<div class="create-wrap">
			{{#if sameUser}}
				<div class="delete-container">
					<label for="delete">Delete Restaurant</label>
					<form action="/restaurants/delete/{{_id}}" method="post">
						<input type="submit" value="Delete" class="btn-sm" />
					</form>
				</div>

				<div class="resturaunt-wrapper">
					<label for="edit">Edit Restaurant</label>

					<p class="error">{{error}}</p>
				</div>

				<div class="form-wrapper">
					<form
						action="/restaurants/edit/{{_id}}"
						method="post"
						enctype="multipart/form-data"
					>
						<input type="file" name="image" id="image" />
						<input
							type="text"
							name="name"
							placeholder="Name of Restaurant"
						/><br />
						<input
							type="text"
							name="description"
							placeholder="Description"
						/><br />
						<input type="submit" value="Confirm" class="btn-sm" />
					</form>
				</div>
			{{else}}
				{{#if differentUser}}
					<div class="resturaunt-wrapper">
						<label for="comment">Comment and rate</label>

						<p class="error">{{error}}</p>
					</div>

					<div class="comment-wrapper">
						<form action="/restaurants/comment/{{_id}}" method="post">
							<input
								type="text"
								name="comment"
								placeholder="Add a comment..."
								class="field"
							/>
							<br />
							<input type="submit" value="Comment" class="btn-sm" />
						</form>

						<form action="/restaurants/rate/{{_id}}" method="post">
							<select name="rating">
								<option value="Rating" disabled selected>Rate restaurant</option>
								<option value="1">&#9733;</option>
								<option value="2">&#9733; &#9733;</option>
								<option value="3">&#9733; &#9733; &#9733;</option>
								<option value="4">&#9733; &#9733; &#9733; &#9733;</option>
								<option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
							</select>
							<input type="submit" value="Rate" class="btn-sm" />
						</form>
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>